.add_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  padding: 50px;
  z-index: 2;
  height: 55vh;
  width: 50vh;
  background: rgba( 255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.5 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  color:white;
  animation: fade 0.5s linear forwards;
  opacity: 1;
}

@keyframes fade {
  0% { opacity: 0; }
  50% { opacity: 1; }
}

.add_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.close_add {
  position: fixed;
  right: 1.5%;
  top: 1.5%;
  cursor: pointer;
}

.add_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add_component {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
}

.add_button {
  width: 6em;
  height: 2.25em;
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
}

.add_input_name, .add_input_description, .add_select {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  border: none;
  width: 97%;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
}

textarea {
  height: 25vh;
}