.problem_list_container{
  min-height: 100vh;
   margin-left: 20%;
  margin-right:20%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.list_header {
  display: flex;
  justify-content: space-between;
}

.filter_input {
  display: flex;
  /* background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3)); */
  background: rgba( 255, 255, 255, 0.25 );
  border: none;
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
  outline: none;
  margin-bottom: 3%;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
}

.active {
  background: rgba( 255, 255, 255, 0.6 );
  color: black;
}

ul {
  list-style: none;
  font-size: 30px;

}

li {
  display: flex;
  margin: 1%;
  padding: 0.5%;
  cursor: pointer;
  z-index: 2;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 10px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Poppins', sans-serif;
  margin-top: 0;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}

.pagination a {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.credit {
  display: flex;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 10px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
}

.credit a {
  text-decoration: none;
  color: blue;
  margin-left: 2%;
}