.problem_description {
  display: flex;
  font-size: 24px;
  font-weight: 200;
  flex: 1;
  white-space:pre-wrap;
  overflow-y: scroll;
  max-height: 50vh;
}

.problem_name {
  display: flex;
  font-size: 30px;
  margin-bottom: 3%;
}

.problem_detail_container {
  min-height: 100vh;
}

.problem_detail_card {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  padding: 2%;
  font-size: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 10px );
  border-radius: 25px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Poppins', sans-serif;
  color:white;
  position: relative;
  /* z-index: 3; */
}

.problem_remove {
  width: 5em;
  height: 2.25em;
  font:inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
  /* color: white; */
}

.problem_edit {
  position: absolute;
  right: 3rem;
  top: 3.5rem;
  cursor:pointer;
}