.problem_container {
  display: flex;
  margin-bottom: 3.5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.45 );
  backdrop-filter: blur( 10px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-family: 'Poppins', sans-serif;
  color:white;
  height: 7rem;
  /* z-index: 10; */
}

.problem_name {
  display: flex;
  flex: 1;
}

.problem_difficulty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.problem_status {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  align-items: center;
}

.problem_nav {
  display: flex;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

